<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="akka" type="Hocon.HoconConfigurationSection, Hocon.Configuration" />
  </configSections>
  <appSettings>
    <add key="test" value="foo" />
  </appSettings>
  <akka>
    <hocon>
      <![CDATA[
          root 
	        {
            simple-string = "Hello Hocon"  
          }
      ]]>
    </hocon>
  </akka>
</configuration>