<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <testsection>
    <hoconlist>
      <hocon xdt:Transform="InsertAfter(/configuration/testsection/hoconlist/hocon[1])">
        <![CDATA[
          root {
            simple-string = ""Debug""
          }
        ]]>
      </hocon>
    </hoconlist>
  </testsection>
</configuration>