<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <akka>
    <hoconlist>
      <hocon xdt:Transform="InsertAfter(/configuration/akka/hoconlist/hocon[1])">
        <![CDATA[
          root {
            simple-string = ""Debug""
          }
	    ]]>
      </hocon>
    </hoconlist>
  </akka>
</configuration>
