<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="testsection" type="Akka.Tests.Configuration.ConfigurationElementSpec+TestConfigurationSection, Hocon.Tests" />
  </configSections>
  <testsection>
    <hoconlist>
      <hocon>
        <![CDATA[
          root {
            simple-string-a = ""A""
            simple-string-b = ""A""
            simple-string-c = ""A""
          }
        ]]>
      </hocon>
      <hocon>
        <![CDATA[
          root {
            simple-string-b = ""B""
            simple-string-c = ""B""
          }
        ]]>
      </hocon>
      <hocon>
        <![CDATA[
          root {
            simple-string-c = ""C""
          }
        ]]>
      </hocon>
    </hoconlist>
  </testsection>
</configuration>
