<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka.Hocon" />
  </configSections>
  <akka>
    <hocon>
      <![CDATA[
          root {
            simple-string = ""A""
          }
	    ]]>
    </hocon>
  </akka>
</configuration>