<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka.Hocon" />
  </configSections>
  <akka>
    <hocon>
      <![CDATA[
          root {
            simple-string-1 = ""1""
            simple-string-a = ""1""
            simple-string-b = ""1""
            simple-string-c = ""1""
          }
      ]]>
    </hocon>
    <hoconlist>
      <hocon>
        <![CDATA[
          root {
            simple-string-a = ""A""
            simple-string-b = ""A""
            simple-string-c = ""A""
          }
	    ]]>
      </hocon>
      <hocon>
        <![CDATA[
          root {
            simple-string-b = ""B""
            simple-string-c = ""B""
          }
	    ]]>
      </hocon>
      <hocon>
        <![CDATA[
          root {
            simple-string-c = ""C""
          }
	    ]]>
      </hocon>
    </hoconlist>
  </akka>
</configuration>